body {
    background: url('../public/images/daniel-van-den-berg-29Jx9qyTW14-unsplash.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}

.back-header {
    background: #221f1f;
    height: 80px;
    width: 100%;
    border-radius: 0 0 5px 5px;
    border-bottom: 2px solid #040101;
}

.user-circle {
    background-color: #b40421;
    width: 200px;
    height: 150px;
    border-radius: 0% 0% 100% 100%;
    border: 3px solid #040101;
    border-top: none;
    position: absolute;

}

.dropdown-toggle,
.dropdown-toggle:checked {
    background: none !important;
    border: none;
    box-shadow: none;
}


.dropdown-toggle.active:focus,
.dropdown-toggle.show:focus,
.dropdown-toggle:active:focus,
.dropdown-toggle:focus {
    background: none !important;
    border: none;
    box-shadow: none;
}

hr {
    border-left: 1px solid #000;
    height: 15em;
}

.dropdown-menu {
    z-index: -1;
    top: -80px !important;
    padding-top: 90px;
    width: 600px;
}

.main-container {
    background: #221f1f88;
    padding-top: 100px;
    width: 80%;
}

.team-badge {
    width: 1.3rem;
}



@media (max-width: 680px) {
    .user-circle {
        width: 175px;
        height: 125px;
    }

    .back-header {
        height: 70px;
    }

    .main-container {
        width: 85%;
    }
}

@media (max-width: 450px) {
    .user-circle {
        width: 150px;
        height: 120px;
    }

    .back-header {
        height: 65px;
    }

    .main-container {
        width: 90%;
    }
}


@media (max-width: 400px) {
    .user-circle {
        width: 125px;
        height: 110px;
    }

    .back-header {
        height: 70px;
    }


}