body {
    background: url('../public/images/daniel-van-den-berg-29Jx9qyTW14-unsplash.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.back-header {
    background: linear-gradient(#161a1d, #0b090a, #161a1d);
    /* background: #221f1f; */
    height: 80px;
    width: 100%;
    border-radius: 0 0 5px 5px;
    border-bottom: 2px solid #040101;
    box-shadow: 0 1px 8px 0 black;
}

.user-circle {
    background-color: #b40421;
    width: 200px;
    height: 150px;
    border-radius: 0% 0% 100% 100%;
    border: 3px solid #040101;
    border-top: none;
    position: absolute;

}

.user-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: url('../public/images/logo.png');
    background-position: center;
    background-size: cover;
}

.username {
    font-size: min(3.5vw, 25px);
}

.state-msg {
    font-size: min(3vw, 15px);
}

.site-name {
    font-family: 'Alfa Slab One', cursive;
    /* color: black; */
    font-style: italic;
    font-size: min(3vw, 30px);
    max-width: 31%;
    -webkit-text-stroke: 0.12vw #b40421;
}

.dropdown-btn.active:focus,
.dropdown-btn.show:focus,
.dropdown-btn:active:focus,
.dropdown-btn:focus,
.dropdown-btn,
.dropdown-btn:checked {
    background: none !important;
    border: none;
    box-shadow: none;
    position: relative;
    top: -10px;
}

h5 {
    font-size: min(4.5vw, 20px);
    height: max-content;
}

hr {
    border-left: 1px solid #000;
    height: 15em;
}

.user-menu {
    z-index: -1;
    top: -80px !important;
    padding-top: 90px;
    width: 600px;
    height: fit-content;
    background: linear-gradient(#e6e6e9, #909595);
    border: 3px solid #040101;
}

.auth-btn {
    background: #b40421;
    color: white;
    border: 1px solid #040101;
}

.auth-btn:hover,
.auth-btn:focus {
    background: #b40421;
    color: white;
    box-shadow: 0 0 5px 0 white;
}

.user-guide {
    width: 45%;
}

.color-font {
    color: #b40421;
}

.fav-leagues {
    width: 300px;
    height: 250px;
    box-shadow: 0 0 5px 0 black;
    background: linear-gradient(#0b090a, #161a1d);
}

.css-1s2u09g-control {
    transform: scale(1, .85);
    width: 110px;
}

.css-1pahdxg-control {
    color: #000;
}

.css-319lph-ValueContainer {
    width: 110px;
    color: #000;
}

.css-b62m3t-container {
    width: 110px;
    color: #000;
}

#react-select-3-listbox {
    color: black;
}

#react-select-5-listbox {
    color: black;
}

.leagues-list {
    max-height: 175px;
}

.bi-dash-circle-dotted {
    display: none;
}

li:hover .bi-dash-circle-dotted {
    display: inline;
}

.main-container {
    background: #221f1f88;
    /* background: #ffffff22; */
    padding-top: 100px;
    width: 80%;
    box-shadow: 0 1px 8px 0 #000000;
    min-height: 100vh;
}

.league-name {
    max-width: 70%;
}

.team-badge {
    width: 1.3rem;
}

i {
    cursor: pointer;
}


@media (max-width: 680px) {
    .user-circle {
        width: 175px;
        height: 125px;
    }

    .back-header {
        height: 70px;
    }

    .user-menu {
        width: 315px;
    }

    hr {
        height: 1px;
    }

    .user-img {
        width: 60px;
        height: 60px;
    }

    .user-container {
        display: flex;
        flex-direction: column;
    }

    .logged-in-container {
        flex-direction: column;
    }

    .user-guide {
        width: 85%;
    }

    .main-container {
        width: 85%;
    }
}

@media (max-width: 450px) {
    .user-circle {
        width: 150px;
        height: 120px;
    }

    .back-header {
        height: 65px;
    }

    .main-container {
        width: 90%;
    }
}


@media (max-width: 400px) {
    .user-circle {
        width: 125px;
        height: 110px;
    }

    .back-header {
        height: 50px;
    }


}