.back-header {
    background: green;
    height: 80px;
    width: 99.5%;
    border-radius: 0 0 5px 5px;
}

.user-circle {
    background-color: aquamarine;
    width: 200px;
    height: 150px;
    border-radius: 0% 0% 100% 100%;
    position: absolute;

}

hr {
    border-left: 1px solid #000;
    height: 15em;
}

.dropdown-menu {
    z-index: -1;
    top: -80px !important;
    padding-top: 90px;
    width: 600px;
}




@media (max-width: 680px) {
    .user-circle {
        width: 175px;
        height: 125px;
    }

    .right-header {
        height: 70px;
    }
}

@media (max-width: 450px) {
    .user-circle {
        width: 150px;
        height: 120px;
    }

    .right-header {
        height: 65px;
    }
}


@media (max-width: 400px) {
    .user-circle {
        width: 125px;
        height: 110px;
    }

    .right-header {
        height: 70px;
    }
}